@import "tailwindcss";

:root {
  --background: #151726;
  --foreground: #f4f6ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-arabic);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151726;
    --foreground: #f4f6ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-arabic), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}


.custom-scroll::-webkit-scrollbar {
  height: 1.5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #242533; 
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #404080; 
  border-radius: 9999px;
}

/* When hovering the scroll container (scrolling) */
.custom-scroll:hover::-webkit-scrollbar {
  height: 1.5px; /* thicker */
}

/* Track stays the SAME color */
.custom-scroll:hover::-webkit-scrollbar-track {
  background: #242533
}

/* Thumb stays SAME color */
.custom-scroll:hover::-webkit-scrollbar-thumb {
  background: #404080;
}

